<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header class="sticky-top">
    <nav class="navbar navbar-expand-md color-nav rounded-3 rounded-top-0">
        <div class="container-fluid">
            <a href="index.html"><img class="Logo" src="" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item mr-1">
                        <a class="nav-link" th:href="@{/}">Inicio</a>
                    </li>
                    <li class="nav-item mr-1">
                        <a class="nav-link" th:href="@{/posts/newPost}">Crear</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active rounded-4" th:href="@{/profile}">Perfil</a>
                    </li>
                </ul>
                <div class="in">
                    <div th:if="${#authorization.expression('isAuthenticated()')}" class="d-flex align-items-center">
                        <p class="mb-0"><span class="mr-1" th:text="${userName}"></span></p>
                        <a th:href="@{/logout}" class="btn btn-primary">Cerrar sesión</a>
                    </div>
                    <div th:unless="${#authorization.expression('isAuthenticated()')}">
                        <a th:href="@{/login}" class="btn btn-primary mr-1">Ingresar</a>
                        <a th:href="@{/registration}" class="btn btn-primary">Registrarse</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
<article class="container mt-5">
    <h2 class="text-center">Tus publicaciones</h2>
    <div class="d-flex flex-column">
        <div class="card-home mt-3" th:each="post : ${userPost}">
            <a class="none-decoration" th:href="@{posts/viewPost/{id}(id=${post.id})}">
                <h3 class="card__title" th:text="${post.title}">Título</h3>
                <div>
                    <span th:if="${#strings.length(post.body) > 0}">
                        <span th:utext="${#strings.length(post.body) > 700 ? #strings.substring(post.body, 0, 700) + ' ...' : post.body}"></span>
                    </span>
                </div>
                <div class="card__arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="15" width="15">
                        <path fill="#fff"
                              d="M13.4697 17.9697C13.1768 18.2626 13.1768 18.7374 13.4697 19.0303C13.7626 19.3232 14.2374 19.3232 14.5303 19.0303L20.3232 13.2374C21.0066 12.554 21.0066 11.446 20.3232 10.7626L14.5303 4.96967C14.2374 4.67678 13.7626 4.67678 13.4697 4.96967C13.1768 5.26256 13.1768 5.73744 13.4697 6.03033L18.6893 11.25H4C3.58579 11.25 3.25 11.5858 3.25 12C3.25 12.4142 3.58579 12.75 4 12.75H18.6893L13.4697 17.9697Z"></path>
                    </svg>
                </div>
            </a>
            <div class="card__date" th:text="${#temporals.format(post.createdDate, 'dd-MM-yyyy HH:mm')}">April 15,
                2022
            </div>
        </div>
    </div>
</article>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>