<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="vh-100 d-flex align-items-center">
  <div class="container form-login">
    <div th:if="${param.success}">
      <div class="alert alert-info">¡Registro creado correctamente!</div>
    </div>

    <h1 class="text-center">Registro</h1>
    <form  th:action="@{/registration}" method="post" th:object="${user}">

      <div class="form-group">
        <label class="control-label" for="firstName">Nombre:</label>
        <input id="firstName" class="form-control" th:field="*{firstName}" required autofocus="autofocus" placeholder="Ingresa tu Nombre"/>

        <label class="control-label mt-2" for="lastName">Apellido:</label>
        <input id="lastName" class="form-control" th:field="*{lastName}" required autofocus="autofocus" placeholder="Ingresa tu Apellido"/>

        <label class="control-label mt-2" for="userName">Nombre de usuario:</label>
        <input id="userName" class="form-control" th:field="*{userName}" required autofocus="autofocus" placeholder="Usuario"/>

        <label class="control-label mt-2" for="email">Correo:</label>
        <input id="email" class="form-control" th:field="*{email}" required autofocus="autofocus" placeholder="example@mail.com"/>

        <label class="control-label mt-2" for="password">Contraseña:</label>
        <input id="password" class="form-control" type="password" th:field="*{password}" required
               autofocus="autofocus" placeholder="Ingresa al menos 8 caracteres"/>

        <input type="submit" name="register-submit" id="register-submit"
               class="form-control btn btn-primary mt-4" value="Registrarse" />

        <span>¿Ya estas registrado? <a href="/" th:href="@{/login}">Ingresar</a></span>
      </div>

    </form>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>

